* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
}

i {
  color: white;
}

#shape-submit-buttons {
  top: 50%;
  right: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: translate(0, -50%);
}

#shape-submit-buttons button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

#shape-submit-buttons button:hover {
  background-color: #eeeeee3f;
}
